.container{
    border: 1px solid green;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    background-color: lightgreen;
    p{
        color:rgb(96, 96, 222);
    }
    footer{
        color: palevioletred;
    }
}